*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{   
    background-color: black;
    color: white;
    font-family: 'Acme', sans-serif;
    margin: 5% 10%;
    font-size: 3rem;
}

div
{   
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input
{
    display: inline-block;
    margin: 10px 0;
    background-color: #e7faf3;
    text-align: center;
    font-size: 2rem;
}

label
{
    margin: 10px 0;
    color: #e6e600 ;
}

button
{
    margin: 10px 30% 0 0;
    padding: 10px 0;
    font-size: 2rem;
}

ul > li
{
    padding: 10px 0 10px 0;
    text-decoration: none;
    display: grid;
    text-align: center;
}

ul 
{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



